---
title: Home
---
<div class="welcome">
  <h1> Watercolours by KT </h1>
  <div class="img-tiles">
    <div class="img-cont">
      <div class="img-each">
        <%= image_tag "Fairy.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Ferns.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Fox.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Hum.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Leaf.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Meadow.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Parrot.jpg" %>
      </div>
    </div>
  </div>
</div>
