---
title: Watercolours by KT
---

<div class="welcome">
  <h1> Watercolours by KT </h1>
  <p> Hello, thank you for checking out my site. More content coming soon...</br>
  ...in the meantime like or follow my facebook page for the latest updates.</p>
  <div class="facebook">
    <a class="social-icons" target="_blank" href="https://www.facebook.com/watercoloursbykt/?ref=ts&fref=ts"><%= image_tag "facebook.png" %></a>
  </div>
  <div class="img-tiles">
    <div class="img-cont">
      <div class="img-each">
        <%= image_tag "Fairy.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Ferns.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Fox.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Hum.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Leaf.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Meadow.jpg" %>
      </div>
      <div class="img-each">
        <%= image_tag "Parrot.jpg" %>
      </div>
    </div>
  </div>
</div>
